<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>

<body>
<div id="app">
    <el-container style="height: 800px; border: 1px solid #eee">


        <el-aside width="200px">
            <el-menu>

                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-star-on"></i>我的</template>
                    <el-menu-item index="1-1"><i class="el-icon-folder-opened"></i>收藏夹</el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-sell"></i>关注店铺</el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-tickets"></i>浏览记录</el-menu-item>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-star-on"></i>订单</template>
                    <el-menu-item index="1-1"><i class="el-icon-postcard"></i>待付款</el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-files"></i>待发货</el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-truck"></i>待收货</el-menu-item>
                </el-submenu>

            </el-menu>
        </el-aside>


        <el-container>
            <el-header style="background:#409EFF;font-size: 12px;line-height: 60px;text-align: left;">

                <el-row :gutter="10">
                    <el-col :span="1">
                        <el-dropdown>
                            <i class="el-icon-more-outline" style=""></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item @click.native="login">登录</el-dropdown-item>
                                <el-dropdown-item @click.native="logout">注销</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-col>
                    <el-col :span="1" style="margin-top: 10px">
                        <div>
                            <el-avatar
                                    src="/public/static/img/user/{$email}.jpg"></el-avatar>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <span @click="jumpToUser">{$email}</span>
                    </el-col>
                    <el-col :span="21" style="text-align: right;font-size: 12px;color: #fff">
                        <div @click="jumpToShoppingCar">
                            购物车<i class="el-icon-shopping-cart-2"></i>
                        </div>

                    </el-col>
                </el-row>
            </el-header>
            <el-main style="overflow: inherit">
                <el-row :gutter="20">
                    <el-col :span="2" offset="5">
                        <template>
                            <el-select v-model="tag" placeholder="全部">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-col>
                    <el-col :span="10">
                        <el-input v-model="input" placeholder="请输入内容"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button @click="search">搜索</el-button>
                    </el-col>
                </el-row>


                <el-menu mode="horizontal">

                    <el-submenu index="1">
                        <template slot="title">超值划算</template>
                        <el-menu-item index="2-1">大牌秒杀</el-menu-item>
                        <el-menu-item index="2-2">限时抢购</el-menu-item>
                        <el-menu-item index="2-3">优惠多多</el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">电器</template>
                        <el-menu-item index="2-1">空调</el-menu-item>
                        <el-menu-item index="2-2">电视</el-menu-item>
                        <el-menu-item index="2-3">冰箱</el-menu-item>
                        <el-menu-item index="2-3">电脑</el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">女装</template>
                        <el-menu-item index="2-1">上衣</el-menu-item>
                        <el-menu-item index="2-2">裙子</el-menu-item>
                        <el-menu-item index="2-3">鞋子</el-menu-item>
                        <el-menu-item index="2-3">包包</el-menu-item>
                        <el-menu-item index="2-3">首饰</el-menu-item>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title">男装</template>
                        <el-menu-item index="2-1">衬衫</el-menu-item>
                        <el-menu-item index="2-2">裤子</el-menu-item>
                        <el-menu-item index="2-3">鞋子</el-menu-item>
                        <el-menu-item index="2-3">手表</el-menu-item>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title">零食</template>
                        <el-menu-item index="2-1">坚果</el-menu-item>
                        <el-menu-item index="2-2">薯片</el-menu-item>
                        <el-menu-item index="2-3">饮料</el-menu-item>
                        <el-menu-item index="2-3">泡面</el-menu-item>
                        <el-menu-item index="2-3">饼干</el-menu-item>
                    </el-submenu>
                </el-menu>
                <template>
                    <div class="block">
                        <el-carousel height="400px" style="background:mediumvioletred">
                            <el-carousel-item v-for="item in 4" :key="item">
                                <img :src="`/public/static/img/goods/carousel${item}.jpg`">
                            </el-carousel-item>
                        </el-carousel>
                    </div>
                </template>
                <el-row>
                    <el-col :span="6">
                        <div class="index_div" @click="jumpToDetail('123abc')">
                            <img src="/public/static/img/goods/index1.jpg" style="width: 100%;height: 100%">
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="index_div" @click="jumpToDetail('123aaa')">
                            <img src="/public/static/img/goods/index2.jpg" style="width: 100%;height: 100%">
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="index_div" @click="jumpToDetail('123bbb')">
                            <img src="/public/static/img/goods/index3.jpg" style="width: 100%;height: 100%">
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="index_div" @click="jumpToDetail('123ccc')">
                            <img src="/public/static/img/goods/index4.jpg" style="width: 100%;height: 100%">
                        </div>
                    </el-col>
                </el-row>
            </el-main>
            <el-footer style="color: #8c939d;font-size: 13px">

                <el-row type="flex" class="row-bg" justify="space-between">


                    <el-col :span="8">
                        <div style="font-size: 15px;color: black">关于我们</div>
                        <div>制作人：王慧云</div>
                        <div>学号：20182005074</div>
                        <div>如有疑问，欢迎咨询！</div>
                    </el-col>
                    <el-col :span="8">
                        <div style="font-size: 15px;color: black">商家服务</div>
                        <div>商家入驻</div>
                        <div>商家中心</div>
                    </el-col>
                    <el-col :span="8">
                        <div style="font-size: 15px;color: black">购物保障</div>
                        <div>发票保障</div>
                        <div>售后规则</div>
                        <div>缺货赔付</div>
                    </el-col>
                </el-row>


            </el-footer>
        </el-container>


    </el-container>

</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                input: '',
                options: [{
                    value: 'clothes',
                    label: '服装'
                }, {
                    value: 'accessory',
                    label: '饰品'
                }, {
                    value: 'food',
                    label: '食品'
                }, {
                    value: 'electronic',
                    label: '电器'
                }, {
                    value: 'other',
                    label: '其他'
                }],
                tag: '全部'
            }
        },
        methods: {
            login: function () {
                console.log("login");
                window.location.href = "{:url('login/index')}";
            },
            logout: function () {
                console.log("logout");
                window.location.href = "{:url('login/logout')}";
            },
            search: function () {
                axios({
                    method: 'post',
                    url: httpd + '/search/search',
                    data: {
                        item: this.input,
                        tag: this.tag,
                    }
                }).then(function (response) {
                    console.log(response.data);
                    window.location.href = response.data;
                }).catch(function (error) {
                    console.log(error)
                });
            },
            jumpToShoppingCar: function () {
                window.location.href = "{:url('Car/ShoppingCar')}";
            },
            jumpToUser: function () {
                window.location.href = "{:url('index/jumpToUser')}";
            },
            jumpToDetail: function (item) {
                axios({
                    method: 'post',
                    url: httpd + '/detail/detail',
                    data: {
                        ID: item
                    }
                }).then(function (response) {
                    console.log(response);
                    window.location.href = response.data;
                }).catch(function (error) {
                    console.log(error)
                });
            }
        }
    });
</script>
</html>
