<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>
<body>
<div id="app">
    <el-container style="height: 800px; border: 1px solid #eee">
        <el-container>
            <el-header style="background:#409EFF;font-size: 12px;line-height: 60px;text-align: left;">

                <el-row :gutter="10">
                    <el-col :span="1">
                        <el-dropdown>
                            <i class="el-icon-more-outline" style=""></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item @click="">登录</el-dropdown-item>
                                <el-dropdown-item @click="">注销</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-col>
                    <el-col :span="1" style="margin-top: 10px">
                        <div>
                            <el-avatar
                                    src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <span>{$email}</span>
                    </el-col>
                </el-row>
            </el-header>
        </el-container>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {visible: false}
        }
    });
</script>
</html>