<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>

<body>
<div id="app">
    <el-container style="height: 800px; border: 1px solid #eee">

        <el-header style="background:#409EFF;font-size: 12px;line-height: 60px;text-align: left;">

            <el-row :gutter="10">
                <el-col :span="1">
                    <el-dropdown>
                        <i class="el-icon-more-outline" style=""></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item @click="">登录</el-dropdown-item>
                            <el-dropdown-item @click="">注销</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
                <el-col :span="1" style="margin-top: 10px">
                    <div>
                        <el-avatar
                                src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                    </div>
                </el-col>
                <el-col :span="1">
                    <span>{$email}</span>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="用户管理" name="first">
                        <template>
                            <el-table
                                    border
                                    :data="userList.slice((userCurrentPage-1)*pageSize,userCurrentPage*pageSize)"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="email"
                                        label="邮箱"
                                        width="200">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.email }}
                                        </div>
                                        <div v-show="scope.row.isEdit">
                                            <el-input v-model="scope.row.email" :disabled="true"></el-input>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="passwd"
                                        label="密码"
                                        width="300">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.passwd }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.passwd"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="address"
                                        label="地址"
                                        width="600">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.address }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.address"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="操作"
                                        width="200">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small" @click="">查看</el-button>
                                        <el-button type="text" size="small" v-show="!scope.row.isEdit"
                                                   @click="changeUserValue(scope.$index, userList,true)">编辑
                                        </el-button>
                                        <el-button type="text" size="small" v-show="scope.row.isEdit"
                                                   @click="updateUserValue(scope.$index,userList)">确定
                                        </el-button>
                                        <el-button type="text" size="small"
                                                   @click.native.prevent="deleteOrder(scope.$index, userList)">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <template>
                            <!--                            分页显示-->
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="userHandleCurrentChange"
                                    :page-size="10"
                                    layout="prev, pager, next, jumper"
                                    :page-count="userMaxPage">
                            </el-pagination>
                        </template>
                    </el-tab-pane>
                    <el-tab-pane label="订单管理" name="second">
                        <template>
                            <el-table
                                    border
                                    :data="orderList.slice((orderCurrentPage-1)*pageSize,orderCurrentPage*pageSize)"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="orderID"
                                        label="订单编号"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.orderID }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.orderID"
                                                  :disabled="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="用户邮箱"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.email }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.email"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="ID"
                                        label="货物ID"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.ID }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.ID"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="address"
                                        label="地址"
                                        width="500">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.address }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.address"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="isDeliver"
                                        label="是否已发货"
                                        width="100">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.isDeliver }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.isDeliver"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="isReceive"
                                        label="是否已送达"
                                        width="100">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.isReceive }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.isReceiver"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="操作"
                                        width="200">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small" @click="">查看</el-button>
                                        <el-button type="text" size="small" v-show="!scope.row.isEdit"
                                                   @click="changeOrderValue(scope.$index, userList,'true')">编辑
                                        </el-button>
                                        <el-button type="text" size="small" v-show="scope.row.isEdit"
                                                   @click="updateOrderValue(scope.$index,userList)">确定
                                        </el-button>
                                        <el-button type="text" size="small"
                                                   @click.native.prevent="deleteUser(scope.$index, userList)">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <!--                            分页显示-->
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="orderHandleCurrentChange"
                                :page-size="10"
                                layout="prev, pager, next, jumper"
                                :page-count="orderMaxPage">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="货物管理" name="third">
                        <template>
                            <el-table
                                    border
                                    :data="goodsList.slice((goodsCurrentPage-1)*pageSize,goodsCurrentPage*pageSize)"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="ID"
                                        label="商品编号"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.ID }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.ID"
                                                  :disabled="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="商品名称"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.name }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.name"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="price"
                                        label="商品单价"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.price }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.price"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="info"
                                        label="商品详情"
                                        width="500">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.info }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.info"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="操作"
                                        width="200">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small" @click="">查看</el-button>
                                        <el-button type="text" size="small" v-show="!scope.row.isEdit"
                                                   @click="changeGoodsValue(scope.$index, userList,true)">编辑
                                        </el-button>
                                        <el-button type="text" size="small" v-show="scope.row.isEdit"
                                                   @click="updateGoodsValue(scope.$index,userList)">确定
                                        </el-button>
                                        <el-button type="text" size="small"
                                                   @click.native.prevent="deleteGoods(scope.$index, userList)">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <!--                            分页显示-->
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="goodsHandleCurrentChange"
                                :page-size="10"
                                layout="prev, pager, next, jumper"
                                :page-count="goodsMaxPage">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="评价管理" name="fourth">
                        <template>
                            <el-table
                                    border
                                    :data="commentList.slice((commentCurrentPage-1)*pageSize,commentCurrentPage*pageSize)"
                                    style="width: 100%;">
                                <el-table-column
                                        prop="ID"
                                        label="商品编号"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.ID }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.ID"
                                                  :disalbe="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="用户邮箱"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.email }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.email"
                                                  :disalbe="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="date"
                                        label="评价时间"
                                        width="180">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.date }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.date"
                                                  :disalbe="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="content"
                                        label="评价详情"
                                        width="600">
                                    <template slot-scope="scope">
                                        <div v-show="!scope.row.isEdit">
                                            {{ scope.row.content }}
                                        </div>
                                        <el-input v-show="scope.row.isEdit" v-model="scope.row.content"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="email"
                                        label="操作"
                                        width="200">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small" @click="">查看</el-button>
                                        <el-button type="text" size="small" @click="">编辑</el-button>
                                        <el-button type="text" size="small"
                                                   @click.native.prevent="deleteComment(scope.$index, commentList)">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <!--                            分页显示-->
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="commentHandleCurrentChange"
                                :page-size="10"
                                layout="prev, pager, next, jumper"
                                :page-count="commentMaxPage">
                        </el-pagination>
                    </el-tab-pane>
                </el-tabs>
            </template>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        mounted: function () {
            this.$nextTick(function () {
                this.userList = {$userlist};
                this.orderList = {$orderlist};
                this.goodsList = {$goodslist};
                this.commentList = {$commentlist};
                this.userCount = this.userList.length;
                this.orderCount = this.orderList.length;
                this.goodsCount = this.goodsList.length;
                this.commentCount = this.commentList.length;
                this.userMaxPage = Math.ceil(this.userList.length/10);
                this.orderMaxPage = Math.ceil(this.orderList.length/10);
                this.goodsMaxPage = Math.ceil(this.goodsList.length/10);
                this.commentMaxPage = Math.ceil(this.commentList.length/10);
                // for (let num in this.userList) {
                //     this.userList[num].isEdit = false;
                // }
                console.log(this.commentMaxPage);
            });
        },
        data: {
            activeName: 'first',
            userList: [],
            orderList: [],
            goodsList: [],
            commentList: [],
            userSelect: false,
            userCount: 1,
            orderCount: 1,
            goodsCount: 1,
            commentCount: 1,

            userCurrentPage: 1,
            orderCurrentPage: 1,
            goodsCurrentPage: 1,
            commentCurrentPage: 1,
            pageSize: 10,

            userMaxPage: 1,
            orderMaxPage: 1,
            goodsMaxPage: 1,
            commentMaxPage: 1,
        },
        methods: {
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            userHandleCurrentChange(val) {
                this.userCurrentPage = val;
                console.log(`当前页: ${val}`);
            },
            orderHandleCurrentChange(val) {
                this.orderCurrentPage = val;
                console.log(`当前页: ${val}`);
            },
            goodsHandleCurrentChange(val) {
                this.goodsCurrentPage = val;
                console.log(`当前页: ${val}`);
            },
            commentHandleCurrentChange(val) {
                this.commentCurrentPage = val;
                console.log(`当前页: ${val}`);
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            login: function () {
                window.location.href = "{:url('index/index')}";
            },
            logout: function () {
                console.log("logout");
                window.location.href = "{:url('index/logout')}";
            },
            deleteUser(index, rows) {
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/deleteUser',
                    data: {
                        email: this.userList[index].email
                    }
                }).then(function (response) {
                    console.log(response.data);
                    rows.splice(index, 1);
                    alert(response.data)
                }).catch(function (error) {
                    console.log(error)
                });
            },
            deleteOrder(index, rows) {
                console.log(this.orderList[index]);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/deleteOrder',
                    data: {
                        orderID: this.orderList[index].orderID
                    }
                }).then(function (response) {
                    console.log(response);
                    rows.splice(index, 1);
                }).catch(function (error) {
                    console.log(error)
                });
            },
            deleteGoods: function (index, rows) {
                console.log(this.goodsList[index]);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/deleteGoods',
                    data: {
                        ID: this.goodsList[index].ID
                    }
                }).then(function (response) {
                    console.log(response);
                    rows.splice(index, 1);
                }).catch(function (error) {
                    console.log(error)
                });
            },
            deleteComment: function (index, rows) {
                console.log(this.commentList[index]);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/deleteComment',
                    data: {
                        ID: this.commentList[index].ID
                    }
                }).then(function (response) {
                    console.log(response);
                    rows.splice(index, 1);
                }).catch(function (error) {
                    console.log(error)
                });
            },
            changeUserValue: function (index, rows, value) {
                let data = this.userList[index];
                data.isEdit = value;
                this.$set(this.userList[index], 0, data);
                console.log(this.userList);

            },
            updateUserValue: function (index, rows) {
                let that = this;
                let user = this.userList[index];
                delete user.isEdit;
                let data = {};
                for (let index in user) {
                    if (index !== "0")
                        data[index] = user[index];
                }
                console.log(data);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/adminUpdateUser',
                    data: data
                }).then(function (response) {
                    console.log(response);
                    that.changeUserValue(index, rows, false);
                }).catch(function (error) {
                    console.log(error)
                });

            },
            changeOrderValue: function (index, rows, value) {
                let data = this.orderList[index];
                data.isEdit = value;
                this.$set(this.orderList[index], 0, data);
                console.log(this.orderList);
            },
            updateOrderValue: function (index, rows) {
                let that = this;
                let order = this.orderList[index];
                delete order.isEdit;
                let data = {};
                for (let index in order) {
                    if (index !== "0")
                        data[index] = order[index];
                }
                console.log(data);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/adminUpdateOrder',
                    data: data
                }).then(function (response) {
                    console.log(response);
                    that.changeOrderValue(index, rows, false);
                }).catch(function (error) {
                    console.log(error)
                });
            },
            changeGoodsValue: function (index, rows, value) {
                let data = this.goodsList[index];
                data.isEdit = value;
                this.$set(this.goodsList[index], 0, data);
                console.log(this.goodsList);
            },
            updateGoodsValue: function (index, rows) {
                let that = this;
                let goods = this.goodsList[index];
                delete goods.isEdit;
                let data = {};
                for (let index in goods) {
                    if (index !== "0")
                        data[index] = goods[index];
                }
                console.log(data);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/adminUpdateGoods',
                    data: data
                }).then(function (response) {
                    console.log(response);
                    that.changeGoodsValue(index, rows, false);
                }).catch(function (error) {
                    console.log(error)
                });
            },
            changeCommentValue: function (index, rows, value) {
                let data = this.commentList[index];
                data.isEdit = value;
                this.$set(this.commentList[index], 0, data);
                console.log(this.commentList);
            },
            updateCommentValue: function (index, rows) {
                let that = this;
                let comment = this.commentList[index];
                delete comment.isEdit;
                let data = {};
                for (let index in comment) {
                    if (index !== "0")
                        data[index] = comment[index];
                }
                console.log(data);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/adminUpdateComment',
                    data: data
                }).then(function (response) {
                    console.log(response);
                    that.changeCommentValue(index, rows, false);
                }).catch(function (error) {
                    console.log(error)
                });
            },
        }
    });
</script>
</html>