<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>

<body>
<div id="app">
    <el-container>
        <el-header style="background:#409EFF;font-size: 12px;line-height: 60px;text-align: left;">
            <el-row :gutter="10">
                <el-col :span="1">
                    <el-dropdown>
                        <i class="el-icon-more-outline" style=""></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item @click.native="login">登录</el-dropdown-item>
                            <el-dropdown-item @click.native="logout">注销</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
                <el-col :span="1" style="margin-top: 10px">
                    <div>
                        <el-avatar
                                src="/public/static/img/user/{$email}.jpg"></el-avatar>
                    </div>
                </el-col>
                <el-col :span="1">
                    <span>{$email}</span>
                </el-col>
            </el-row>
        </el-header>

        <el-container>
            <!--            纯粹是为了垂直排列-->
            <el-header style="width: 70%;margin: auto;margin-top: 30px;">
                <el-steps :active="1" finish-status="success">
                    <el-step title="提交订单"></el-step>
                    <el-step title="付款"></el-step>
                    <el-step title="订单创建成功"></el-step>
                </el-steps>
            </el-header>

            <el-main>
                <el-divider content-position="left"><span style="color: #99a9bf;font-size: 20px">支付方式</span>
                </el-divider>
                <el-card style="width: 70%;margin: auto">
                    <el-row :gutter="20">
                        <el-col :span="6">
                            <el-button style="margin:auto;display: flex" type="success" plain>微信</el-button>
                        </el-col>
                        <el-col :span="6">
                            <el-button style="margin:auto;display: flex" type="primary" plain>支付宝</el-button>
                        </el-col>
                        <el-col :span="6">
                            <el-button style="margin:auto;display: flex" type="warning" plain>银联</el-button>
                        </el-col>
                        <el-col :span="6">
                            <el-button style="margin:auto;display: flex" type="info" plain>其他</el-button>
                        </el-col>
                    </el-row>
                </el-card>
            </el-main>

            <el-main>
                <el-divider content-position="left"><span style="color: #99a9bf;font-size: 20px">支付信息</span>
                </el-divider>
                <el-card style="width: 50%;margin: auto">

                    <el-form ref="form" :model="form" label-width="80px" style="margin: auto;display: flex">
                        <div style="margin: auto">
                            <el-form-item label="支付账号" style="width: 300px">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="支付密码" style="width: 300px">
                                <el-input type="password" v-model="form.passwd"></el-input>
                            </el-form-item>
                        </div>
                    </el-form>
                </el-card>
            </el-main>
            <el-main>
                <el-button round style="width: 100px;position: relative;left:65%" type="primary" @click="payment">支付</el-button>
            </el-main>

        </el-container>
    </el-container>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                name: '123',
                passwd: '123'
            }
        },
        methods:{
            payment:function () {
                window.location.href = "{:url('order/receive')}";
            },
            login: function () {
                window.location.href = "{:url('login/index')}";
            },
            logout: function () {
                console.log("logout");
                window.location.href = "{:url('login/logout')}";
            },
        }
    })
</script>
</html>