<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
</head>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>

<body>
<div id="app">
    <el-container style="height: 800px; border: 1px solid #eee">
        <el-header style="background:#409EFF;font-size: 12px;line-height: 60px;text-align: left;">

            <el-row :gutter="10">
                <el-col :span="1">
                    <el-dropdown>
                        <i class="el-icon-more-outline" style=""></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item @click="login">登录</el-dropdown-item>
                            <el-dropdown-item @click="logout">注销</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
                <el-col :span="1" style="margin-top: 10px">
                    <div>
                        <el-avatar
                                src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                    </div>
                </el-col>
                <el-col :span="1">
                    <span>{$email}</span>
                </el-col>
            </el-row>
        </el-header>
        <el-header style="margin-left: 20px;margin-top: 20px;">
            <span style="font-size: 35px;">购物车</span>
        </el-header>
        <el-main style="margin: auto">
            <template>
                <el-table :data="carList" style="width: 100%"
                          v-loading="loading"
                          border
                          stripe
                          highlight-current-row
                          show-summary>
                    <el-table-column
                            label="选择"
                            width="100"
                            type="selection">
                    </el-table-column>
                    <el-table-column
                            prop="img"
                            label="商品图片"
                            width="220">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品信息"
                            width="350">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="价格"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="number"
                            label="数量"
                            width="180">
                        <!--                        <template slot-scope="scope">-->
                        <!--                            <el-input-number v-model="scope.row.number"-->
                        <!--                                             type="number"-->
                        <!--                                             @change="handleChange(scope.row.number,scope.row.ID)" :min="1" :max="99"-->
                        <!--                                             size="mini"-->

                        <!--                                             label="描述文字">-->
                        <!--                            </el-input-number>-->
                        <!--                        </template>-->

                    </el-table-column>
                    <el-table-column
                            prop="total"
                            label="总金额"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="info"
                            label="操作"
                            width="180"
                            fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    @click.native.prevent="deleteRow(scope.$index, carList)"
                                    type="text"
                                    size="small">
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
            <el-button type="primary" plain style="margin-top: 50px;float: right;margin-right: 50px">提交订单</el-button>
        </el-main>
    </el-container>
</div>
</body>

<script>
    new Vue({
        el: '#app',
        mounted: function () {
            this.$nextTick(function () {
                this.carList = {$list};
                this.calculate();
            })
        },
        methods: {
            login: function () {
                window.location.href = "{:url('index/index')}";
            },
            logout: function () {
                console.log("logout");
                window.location.href = "{:url('index/logout')}";
            },
            deleteRow(index, rows) {
                rows.splice(index, 1);
                console.log(this.carList[index].ID);
                axios({
                    method: 'post',
                    url: 'http://localhost:88/public/index.php/index/index/deleteGoods',
                    data: {
                        ID: this.carList[index].ID
                    }
                }).then(function (response) {
                    console.log(response)
                }).catch(function (error) {
                    console.log(error)
                });
            },
            handleChange(value, ID) {
                console.log(ID);
                this.calculate();
                //下个版本一定.jpg
                // window.location.href = "{:url('ShoppingCar/update',['ID'=>" + ID + ",'value'=>" + value + "])}";
            },
            calculate() {
                let count = 0;
                for (let items of this.carList) {
                    let price = items.price;
                    let number = items.number;
                    items.total = price * number;
                }
            }
        },
        data: function () {
            return {
                carList: [],
                total: [],
            }
        }
    });
</script>
</html>