<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/public/static/css/style.css">
<!-- import Vue before Element -->
<script src="/public/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/public/static/js/index.js"></script>
<!-- import axios-->
<script src="/public/static/js/axios.min.js"></script>
<script src="/public/static/js/url-search-params.js"></script>

<body>
<div id="app">
    <el-container style="display: flex;justify-content: center;align-items: center;">
        <div>
            <el-container style="display: flex;justify-content: center;margin-top: 100px">
                <div style="font-family: 'Microsoft YaHei UI';font-size: 50px;color: #2d6a88">
                    注 册
                </div>
            </el-container>
            <el-container style="position: relative;justify-content: center;align-items: center;margin-top: 50px">
                <div style="width: 500px;padding-top: 30px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)">
                    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"
                             style="position: relative;left: 11%;">>
                        <el-form-item label="邮箱" prop="email"
                                      :rules="[{ required: true, message: '请输入邮箱地址', trigger: 'blur' },
                              { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }]">
                            <el-input type="email" v-model="ruleForm.email" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="pass"
                                      :rules="[{ required: true, message: '密码不能为空', trigger: 'blur' },
                              {min: 6, max: 18, message: '请输入6至18位数字', trigger: 'blur' }]">
                            <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="checkPass"
                                      :rules="[{ required: true, message: '确认密码不能为空', trigger: 'blur' },
                              {min: 6, max: 18, message: '请输入6至18位数字', trigger: 'blur' }]">
                            <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">注册</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-container>
            <div style="position: absolute;left: 52%;margin-top: 40px">
                <el-link type="info" @click="login">已有账号，点击登录</el-link>
            </div>
        </div>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            var checkEmail = (rule, value, callback) => {
                if (value === '') {
                    return callback(new Error('邮箱不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                ruleForm: {
                    email: '',
                    pass: '',
                    checkPass: '',
                },
                rules: {
                    email: [
                        {validator: checkEmail, trigger: 'blur'}
                    ],
                    pass: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPass: [
                        {validator: validatePass2, trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            login: function () {
                window.location.href = "{:url('index/index')}";
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // alert('submit!');
                        axios({
                            method: 'post',
                            url: 'http://localhost:88/public/index.php/index/index/register',
                            header: {
                                "Content-Type": 'application/x-www-form-urlencoded;charest=UTF-8',
                                'X-Requested-With': 'XMLHttpRequest'
                            },
                            data: {
                                email: this.ruleForm.email,
                                passwd: this.ruleForm.pass,
                                checkpasswd: this.ruleForm.checkPass,
                            }
                        }).then(function (response) {
                            console.log(response);
                        }).catch(function (error) {
                            console.log(error);
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
</html>